<html>
<head><title>New Transactions</title></head>
<body>
    {% for acct, ts in txns.items() %}
    <p>{{ acct }}</p>
    <table>
    <thead>
        <tr><td>Date</td>
            <td>Description</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody>
    {% for t in ts %}
    {% set adapted_txn = adapter(t) %}
        <tr>
            <td>{{ adapted_txn["date"] }}</td>
            <td>{{ adapted_txn["description"] }}</td>
            <td>{{ adapted_txn["amount"] }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endfor %}
</body>
</html>
